
<div class="flex-row">
    <div class="d-flex flex-wrap">
        @for (item of AllCharacterDrangonBall ; track $index) {
            <article class="card" 
            >
            <div class="card-container-image">
                <img class="card-image" 
                [ngSrc]="item.image" 
                width="400" height="200" priority
                >
            </div>
                <div class="flex-row container-text ">
                    <div class="d-flex flex-wrap ">
                      
                        <h2 class="text-title container-title title">{{item.name}} </h2>
                        <h3 class="text-title container-title subtitle">{{item.race}}</h3>
                    </div>
                    <div class="d-flex flex-wrap ">
                      <button type="button" class="btn-botones">Detalles</button>
                      <button type="button" class="btn-botones">Transformación</button>
                    </div>
               
                   
                </div>
            </article>
           }

    </div>

</div>


