.navbar-page {
    margin: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    font-size: 1.5rem;
}

.btn-botones{
  
  border: 1px solid rgb(251, 192, 45);
  box-shadow: 2px 1px 10px 1px rgba(251, 192, 45);

}