<div class="container text-center m-2">
  <div class="row justify-content-md-center">
    <!-- IMAGEN ****************************-->
    <div class="col-sm">
      <h5 class="card-title">
        <strong>{{detailCharacter().name}}</strong>
      </h5>
      <img class="img-character img-fluid rounded-start img-character"  priority [ngSrc]="detailCharacter().image">
      <h5 class="card-title">
        <strong>ki </strong>{{detailCharacter().ki}}      
      </h5>
      <h5 class="card-title">
        <strong>Máximo ki </strong>{{detailCharacter().maxKi}}
      </h5>
    </div>

    <div class="col-sm">
      <h5 class="">
        <strong>Raza: {{detailCharacter().race}}</strong>
      </h5>
      <p class="text-start lh-base">
        <strong>Descripcion</strong>:
        {{detailCharacter().description}}</p>
    </div>


    <div class="col-sm">
      <img src="{{detailCharacter().originPlanet.image}}"
        width="50" height="300" 
          class="card-img-top" alt="..."
          >
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{detailCharacter().originPlanet.name}}</strong>
          </h5>
          <p class="text-start lh-base">
            <strong>Descripcion</strong>:
            {{detailCharacter().originPlanet.description}}</p>
    </div>
  </div>

</div>





{{detailCharacter().id }}