/* You can add global styles to this file, and also import other style files */

html, body {height: 100%;}

body{
    height: fit-content;
    margin: 0;
    font-family: 'fontDBZ';
}
@font-face {
    font-family: 'fontDBZ';
    src: url('assets/fonts/fontDBZ/Saiyan-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
